/tiralab-taru/target/
/tiralab-taru/nbproject/
/tiralab-taru/book.txt
/tiralab-taru/bookCoded.txt
/tiralab-taru/tolkien-10-rows.txt
/tiralab-taru/tolkien-100-rows.txt
/tiralab-taru/tolkien-1000-rows.txt
/tiralab-taru/tolkien-full.txt
/tiralab-taru/src/test/resources/ulysses-decompress.dc
/tiralab-taru/src/test/resources/ulysses.huff
